html,body {
    height: 100%;
    width: 100%;
    font-family: 'ceraPro';
    margin: 0;
    user-select: none;
    background: #252A34;
}
@font-face {
    font-family: 'ceraPro';
    src: url('Cera\ Pro\ Black.otf');
}
@font-face {
    font-family: 'ceraLight';
    src: url('Cera\ Pro\ Light.otf');
}
*{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.headingText{
    height: 10%;
    width: 100%;
    color:#ffffff;
    font-size: 30px;
    font-weight: bold;
    background:#FF2E63;
    flex-direction: row;
    /*position: fixed;
    top:0;*/
}
.openBtnDiv{
    width: 20%;
    height: 100%;
}
.headingText>span{
    width: 60%;
    height: 100%;
}
.closeBtnDiv{
    width: 20%;
    height: 100%;
}
.entireContainer{
    height: 90%;
    width: 100%;
    flex-direction: column;
}
.container {
    height: 90%;
    width: 100%;
}
.popContentDiv{
    height: 100%;
    width: 100%;
    /*flex-direction: column;*/
}
.leftContainer{
    /*width: 49.75%;
    height: 100%;*/
    height:50%;
    padding:20px;
    display: none;
    z-index: 100;
    border-radius: 10px;
    background-color:#252A34;
}
.delPopupDiv{
    height:50%;
    width: 50%;
    /* color: #ffffff;
    font-weight: bold; */
    display: none;
    z-index: 100;
    border-radius: 10px;
    background-color:#252A34;
    flex-direction: column;
    justify-content: space-evenly;
}
.formContainer{
    height: 100%;
    width: 100%;
    flex-direction: column;
    margin-block-end: 0 !important;
    margin-top: 0 !important;
    justify-content: space-evenly;
}
.errMsgDiv{
    height: 5%;
}
.submitBtnDiv{
    height: 10%;
    justify-content: space-evenly;
}
.inputDetailsDiv{
    height: 30%;
    flex-direction: column;
}
.nameInputTextDiv{
    height: 50%;
    flex-direction: row;
    justify-content: space-evenly;
}
.nameLabelDiv{
    width: 30%;
    height: 100%;
    justify-content: space-evenly;
    color: #FF2E63;
    font-weight: bold;
}
.nameInputDiv{
    width: 70%;
    height: 100%;
    justify-content: space-evenly;
}
.nameInputDiv>input{
    width: 90%;
    padding: 10px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background: #ffffff;
    color: #FF2E63;
    font-family: 'ceraLight';
    font-weight: bold;
}
.deptInputTextDiv{
    height: 50%;
    width: 100%;
    justify-content: space-evenly;
}
.deptLabelDiv{
    width: 30%;
    height: 100%;
    justify-content: space-evenly;
    color: #FF2E63;
    font-weight: bold;
}
.deptInputDiv{
    width: 70%;
    height: 100%;
    justify-content: space-evenly;
}
.deptInputDiv>input{
    width: 90%;
    padding: 10px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background: #ffffff;
    color: #FF2E63;
    font-family: 'ceraLight';
    font-weight: bold;
}
.labelHeaderDiv{
    height: 10%;
    background-color: #252A34;
    color:#ffffff;
    font-weight: bold;
}
/*.dummyDiv{
    height: 45%;
    width: 100%;
    background-color:#CAF7E2;
}*/
.rightContainer{
    width: 100%;
    height: 100%;
    position: fixed;
}
.middleContainer{
    width: 0.5%;
    height: 100%;
    background: #FF2E63;
}
.dataContainer{
    height: 100%;
    width: 100%;
    flex-direction: column;
}
.spanHeaderDiv{
    height: 10%;
    width: 100%;
    color: #ffffff;
    font-weight: bold;
    background-color:#252A34;
}
.postsDiv{
    height: 90%;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    background-color:#EAEAEA;
}
.postContainer{
    color: #ffffff;
    width: 100%;
    background:#252A34;
}
.postContainerStatic{
    color: #ffffff;
    width: 100%;
    background:#FF2E63;

}
::placeholder{
    color: #FF2E63;
    font-weight: bold;
}
i {
    cursor: pointer;
}
#posts div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
#msg {
    font-size: large;
    font-weight: bold;
    color: #FF2E63;
}
button{
    background: #08D9D6;
    color: #ffffff;
    border: 0;
    border-radius: 10px;
    outline: 0;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
}
.material-symbols-outlined{
    color: #ffffff;
}

/*
theme2
light grey #ffffff
medium grey #CAF7E2
darker grey #252A34
red #e8175d
lighter red #FF2E63
*/

/* theme 2
light green #CAF7E2
medium green #FF2E63
dark green #252A34
light greenish grey #4A442D
dark greenish Grey #3D3522
*/

/*
light blue #08D9D6
darkcolor #252A34
red pink #FF2E63
white bg #EAEAEA
*/